*.class

# Package Files #
*.jar
*.war
*.ear
/SI-2016-2/Aula06/nbproject/private/
/SI-2016-2/Aula06-TB/nbproject/private/
/SI-2016-2/aula06-HerancaPolimorfismo-TA/build/
/SI-2016-2/aula06-HerancaPolimorfismo-TB/build/
/SI-2016-2/Aula07-Lista03-TB/nbproject/private/
/SI-2016-2/Aula07-Lista03-TA/nbproject/private/
/SI-2016-2/Aula07-Lista03-TA/build/
/SI-2016-2/Aula08/nbproject/private/
/SI-2016-2/Aula08/build/
/SI-2016-2/Aula08-TB/nbproject/private/
/SI-2016-2/Aula08-TB/build/
/AulaJDBC-2016/AulaJDBC-2016/nbproject/private/
/SI-2016-2/AulaJDBC-2016/nbproject/private/
/SI-2016-2/AulaJDBC-TB-2016/nbproject/private/